

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
   
a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

input {
    font-family: inherit;
} 

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }

body {
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
    background-color: #fff;
}

/* Styles for header */
.header {
    display: flex;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-wrap {
    display: flex;
    /* justify-content: space-between;
        align-items: center; */
}

.nav {
    display: flex;
    align-items: center;
}


.logo-accent {
    color: #4d5ae5;
}

.nav-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;

}

.nav-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;
    margin-right: 332px;
}

.nav-item {
    width: calc((100% - 80px) / 3);
}

.nav-link{
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;
}

.nav-link.current::after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
    color: #404bbf;

}

/* Styles for address */
.contacts {
    font-style: normal
}

.contacts-list {
    display: flex;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
    gap: 40px;
}

.contacts-item {
    padding-top: 24px;
    padding-bottom: 24px;
}

.contacts-link{
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}



/* Styles for main section 1*/
.main-section {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/people-office.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    width: 496px;
    margin: auto;
    margin-bottom: 48px;
}

.main-btn {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    margin: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}



.main-btn:hover,
.main-btn:focus {
    background-color: #404bbf;
}


/* Styles for features section 2*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features {
    padding-bottom: 120px;
}

.features-icons-wrap{
    border: 1px solid #8e8f99;
border-radius: 4px;
background: #f4f4fd;
padding: 24px 100px;
margin-bottom: 8px;
display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
}

.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 72px) /4);
}

.features-subtitle {
    margin-bottom: 8px;
}

.features-text {
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
}


/* Styles for team section 3 */
.team-section {
    background-color: #f4f4fd;
    padding-bottom: 120px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;

}

.team-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
}

.team-info-wrap{
    padding: 32px 16px;
}




.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-role {
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.team-icons-wrap {
    width: 40px;
        height: 40px;
        background-color: #4d5ae5;
        border-radius: 50%;
        fill:#F4F4FD;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons-wrap:hover,
.team-icons-wrap:focus {
    background-color: #404bbf;
}

.team-icons-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}

/* Styles for portfolio section */
.portfolio-section {
    padding-bottom: 120px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-list {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    
}

.portfolio-item {
    width: calc((100% - 72px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.transform-wrap{
    position: relative;
    overflow: hidden;
}

.transform-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    padding: 40px 32px;
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #f4f4fd;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .transform-text{
    transform: translateY(0%);
    
}
.portfolio-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-text-wrap {
    padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    margin-bottom: 8px;

}

.portfolio-text {

    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Styles for footer */
.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container{
    display: flex;
    /* gap: 120px; */
    align-items: baseline;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    display: block;
    margin-bottom: 16px;
}

.footer-text {
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}

.footer-socmedia-text{
    font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}
.footer-icons{
    margin-left: 120px;
}

.footer-icons-list{
    display: flex;
    fill: #f4f4fd;
    gap: 16px;
    
   
}
.footer-icons-item{
    width: calc((100% - 48px) / 4);
}

.footer-icon-link{
    width: 40px;
        height: 40px;
        background-color: #4D5AE5;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: #31D0AA;
}
 

/* footer-form */
.footer-input-wrap {
    display: flex;
    gap: 24px;
}

.footer-input {
    /* margin-right: 24px; */
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    color: #fff;

    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-input::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.footer-input:focus{
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
border-color:  #31d0aa;
}


.footer-form-btn {
    min-width: 165px;
    height: 40px;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    border-radius: 4px;
    /* padding: 8px 24px; */
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* gap: 16px; */
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-form-btn:hover,
.footer-form-btn:focus{
    background-color: #31d0aa;
}

.footer-telegram {
    fill: #fff;
    margin-left: 16px;
    /* display: block; */
}

/* Footer Form */
.footer-form {
    margin-left: auto;
    /* margin-left: 80px; */
}

.footer-form-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}


/* modal */
.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(46, 47, 66, 0.4);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


.modal {
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    top: 50%;
    /*відштовхує на половину ВИДИМОГО ЕКРАНУ*/
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    /*назад на половину СВОГО розміру*/
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    width: 24px;
    height: 24px;

    border-radius: 50%;
    display: flex;
    padding: 0;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 24px;
    right: 24px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}


.modal-close-btn:hover .close-svg {
    fill: #fff;
}

.modal-close-btn:focus .close-svg {
    fill: #fff;
}

.close-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
fill: #2e2f42;
}

.user-info-wrap {
    margin-bottom: 8px;
}

.modal-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}


.modal-label {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.input-wrapper {
    position: relative;

}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;
}

.input {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    padding-left: 38px;
    width: 100%;
    height: 40px;
    background-color: transparent;
}

.input:focus {
    border-color: #4d5ae5;
}

.input:focus+.modal-icon {
    fill: #4d5ae5;
}

.user-comment {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
}

.user-comment:focus {
    border-color: #4d5ae5;
}


.user-comment::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}


/* checkbox */
.xxx {
    margin-bottom: 24px;
}

.textarea-div {
    margin-bottom: 16px
}

.input-checked:checked+.policy .artificial-checkbox {
    fill: #F4F4FD;
    background-color: #404BBF;
    border: none;
}

.artificial-checkbox {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin-right: 8px;
}


.policy {
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.privacy-policy {
    line-height: 133%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.submit-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    display: block;
    cursor: pointer;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

.submit-btn:hover,
.submit-btn:focus{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #404bbf;
}